
.bin {
  background-color: rgb(243, 227, 227);
  position: absolute;
  overflow: hidden;
  min-width: 95%;
  min-height: 80%;
}
.bin img {
 height: 400px;
  width: 250px;
}
.bin .big_img_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.close {
  margin-left: 80%;
}
.close img {
  height: 20%;
  width: 20%;
}
.close img:hover {
  border: 1px solid black;
}
@media (max-width: 900px) {
  .container {
    width: 750px;
  }
  .container_cart {
    display: block;
  }
  .slider {
    width: 100%;
  }
  .cart_interfece {
    margin-top: 20px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .container {
    width: 80%;
  }
  header h1 {
    font-size: 12px;
  }
  header img {
    width: 23px;
    height: 23px;
  }
  .price {
    font-size: 20px;
  }
  .bay_container {
    justify-content: space-between;
  }
}
