.bin {
  background-color: rgb(255, 255, 255);
  border: 1px solid blue;
  position: absolute;
  min-width: 80%;
  min-height: 80%;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  .close {
    display: flex;
    height: 40px;
    justify-content: end;
    align-items: center;
    img {
      height: 38px;
      width: 38px;
      cursor: pointer;
    }
  }
  & .big_img_container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    height: 60%;
    img {
      width: 50%;
      height: 100%;
    }
  }
}
